:root {
    --font-size-button: .875rem;
    --font-weight-button: 600;

    --button-width: 5.625rem;
    --button-heigth: 2.5rem;
    --button-radius: 0.5rem;

    --big-button-width: 28.375rem;
    --big-button-heigth: 3.75rem;

    --button-collor: #BDBDBD;
    --button-collor-active: var(--color-primary);


}